/* Colors */
$sidebar-color: #000000;
$sidebar-color-hover: #333333;
$section-color: #f5f5f2;
$body-color: #e3e3e3;
$font-color: #979797;
$button-hover-color: #ffa200;
$button-color: #f58220;

/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  text-align: center;
  background: $body-color;
  color: $font-color;
  overflow-y: scroll;
}
